.main-chat
  .group-info
    .header__left
      .group__name= @group.name
      .group__members
        %p Member：
        .member
          - @group.users.each do |user|
            = user.name
    .header__right
      = link_to "Edit", edit_group_path(@group.id), class: "edit__btn"
  = render "message"
  = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|    
    .message-form
      .input-area
        = f.text_field :content, class: 'inputText', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submitBtn'


