.main-chat
  .group-info
    .header__left
      %p.group__name test
      %p.group__member Member：masa
    .header__right
      = link_to "Edit", "#", class: "edit__btn"
  .message-list
    - @messages.each do |message|
      .message-box
        .message-info
          .name
            = message.user.name
          .created-at
            = message.created_at.strftime("%Y年%m月%d日  %H時%M分")
        - if message.content.present?
          %p
            = message.content
        = image_tag message.image, class: 'Message__image' if message.image.present?

  = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|    
    .message-form
      .input-area
        = f.text_field :content, class: 'inputText', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submitBtn'


