.side-bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to new_group_path, class: "edit-btn" do
          = icon('fas', 'edit', class: "icon__btn")
          %span<>
        = link_to edit_user_path(current_user), class: "cog-btn" do
          = icon('fas', 'cog', class: "icon__btn")
          %span<>  
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message